<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.dao.ExperienceDao">

    <select id="selectExperience" resultType="Experience">
        select * from experience where belong_to = #{belongTo} and is_teacher = #{isTeacher}
    </select>

    <insert id="addExperience" parameterType="Experience">
        insert into experience (value,belong_to,is_teacher) values (#{value},#{belongTo},#{isTeacher})
    </insert>

    <update id="updateExperience" parameterType="Experience">
        update experience set belong_to=#{belongTo},is_teacher=#{isTeacher} where id = #{id}
    </update>

    <delete id="deleteExperience" parameterType="Experience">
        delete from experience where id = #{id}
    </delete>

</mapper>
