<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.dao.MenuDao">

    <select id="selectAllFirstMenu" resultType="FirstMenu">
        select * from first_menu
    </select>

    <select id="selectSecondMenu" parameterType="String" resultType="SecondMenu">
        select * from second_menu where first_menu = #{firstMenu}
    </select>

    <select id="selectSecondMenuForList" resultType="SecondMenu" parameterType="java.util.List">
        select * from second_menu where first_menu in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
            #{item.id}
        </foreach>
    </select>

    <insert id="addFirstMenu" parameterType="FirstMenu">
        insert into first_menu (id,link) values (#{id},#{link})
    </insert>

    <insert id="addSecondMenu" parameterType="SecondMenu">
        insert into second_menu (link,first_menu) values (#{link},#{firstMenu})
    </insert>

    <insert id="addSecondMenuForList" parameterType="java.util.List" useGeneratedKeys="false">
        insert into second_menu
        (link,first_menu)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.link},
            #{item.firstMenu}
            )
        </foreach>
    </insert>


    <update id="updateFirstMenu" parameterType="FirstMenu">
        update first_menu set link=#{link} where id = #{id}
    </update>

    <update id="updateSecondMenu" parameterType="SecondMenu">
        update second_menu set link=#{link},first_menu=#{firstMenu} where id = #{id}
    </update>


    <update id="updateSecondMenuForList" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" separator=";">
            update second_menu set link=#{item.link},first_menu=#{item.firstMenu} where id = #{item.id}
        </foreach>
    </update>


    <delete id="deleteFirstMenu" parameterType="FirstMenu">
        delete from first_menu where id = #{id}
    </delete>

    <delete id="deleteSecondMenu" parameterType="SecondMenu">
        delete from second_menu where id = #{id}
    </delete>

    <delete id="deleteSecondMenuForList" parameterType="java.util.List">
        delete from second_menu
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

</mapper>
