<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.dao.NewsDao">

    <select id="selectAllNews" resultType="News">
        select * from news
    </select>

    <insert id="addNews" parameterType="News">
        insert into news (date,title,content) values (#{date},#{title},#{content})
    </insert>

    <select id="searchTitle" parameterType="String" resultType="String">
        select title from news where title like #{key}"%"
    </select>

    <select id="searchNews" resultType="News" parameterType="String">
        select * from news where match (title,content) against (#{key} in natural language mode)
    </select>

    <delete id="deleteNews" parameterType="News">
        delete from news where id = #{id}
    </delete>

</mapper>
